{% with logged_in=user.is_authenticated %}
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="format-detection" content="telephone=no">

  <title>Fasticker</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/static/app.css">
  <link rel="stylesheet" href="/static/chosen.css" />
  <script src="/static/modernizr.foundation.js"></script>

</head>

</head>
<body>
  <!-- Navigation -->
  <div class="row">
    <nav class="top-bar fixed">
      <ul>
        <li class="name"><h1><a href="/">FASTICKER</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <ul class="right">
          <li><a
            {% if logged_in %}
            href="{% url fasticker.core.views.item_form %}"
            {% else %}
            class="has-tip" data-width="200" title="로그인 후에 이용가능 합니다"
            {% endif %}
            >Make your Fashion</a>
          </li>
          {% if logged_in %}
          <li class="has-dropdown">
            <a href="#"><img src="{{ user.profile.photo.url }}">{{ user.profile.name }}</a>

            <ul class="dropdown">
              <li>
                <a href="{% url fasticker.core.views.profile user.profile.id %}">프로필</a>
              </li>
              <li><a href="{% url django.contrib.auth.views.logout %}">로그아웃</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url fasticker.core.views.join %}">가입하기</a></li>
          <li><a href="{% url django.contrib.auth.views.login %}">로그인</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>
  </div>

  <!--[if lt IE 8]>
  <div class="notification-bar">
    브라우저를 업그레이드해 주세요! <a href="http://browsehappy.com/">자세한 내용 보기</a>
  </div>
  <![endif]-->

  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="row">
    <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
          <p>&copy; Copyright Fasticker.</p>
        </div>
        <!--
        <div class="six columns">
            <ul class="link-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>
      -->

    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- Included JS Files -->
<!-- <script src="../public/assets/templates.js"></script>-->
<!-- Included JS Files (Compressed) -->
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script  type="text/javascript" src="/static/app.js"></script>
<script type="text/javascript" src="/static/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
  $("select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true});
  $(window).unload(function() {
    $('form input[type="submit"]').prop("disabled", false);
    $('form .spinner').hide();
  });


  $('form input[type="submit"]').click(function(e) {
    $('form .spinner').show();
       // workout
       setTimeout(function () {
        $('form input[type="submit"]').prop("disabled", true);
      }, 100);
     });

  var columns    = 5 ,
  setColumns = function() { columns = $( window ).width() > 767 ? 5 : 2; };
  setColumns();
  $( window ).resize( setColumns );

  var $container = $(".item-grid");

  $container.imagesLoaded( function(){
    $container.masonry({
      itemSelector : '.item',
      isAnimated: !Modernizr.csstransitions,
      columnWidth:  function( containerWidth ) { return containerWidth / columns; }

    });
  });

});
</script>
</body>
</html>
{% endwith %}
