{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="twelve columns">
    <h4>{{ board.name }}</h4>
    <div class="row">
      <div class="eight columns">
        <h5>Items</h5>
        {% if board.items.exists %}
          <ul class="block-grid four-up mobile-two-up item-grid">
            {% for item in board.items.all %}
            <li class="item">
              <div class="th">
                <a href="{% url fasticker.core.views.item item.id %}"><img src="{{ item.image.url }}"></a>
              </div>
              <div>
                <a href="{% url fasticker.core.views.item item.id %}">{{ item.name }}</a>
              </div>
              {% if user.is_staff %}
              <div>
                {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
                {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
                {% for context in item.context.all %}
                <span class="tag">{{ context }}</span>
                {% endfor %}
              </div>
              {% endif %}
                <h6>
                  <a href="{% url fasticker.core.views.profile item.author.id %}">
                    <img src="{{ item.author.photo.url }}" style="width:24px" /> {{ item.author.name }}
                  </a>
                </h6>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div>아이템이 없습니다.</div>
          {% endif %}
      </div>
      <div class="four columns">
        <h4><img style="width: 24px" src="{{board.author.photo.url}}"> {{ board.author.name }}</h4>
        <p>{{ board.memo }}</p>
          <ul class="link-list">
            <li><a href="">Love</a></li>
            <li><a href="">Pin</a></li>
          </ul>
          <h5>4 Comments</h6>
          <div>
            <div><img src="http://placehold.it/24x24&text=[img]" /> Someone</div>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
          <div>
            <div><img src="http://placehold.it/24x24&text=[img]" /> Someone</div>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
          <div>
            <div><img src="http://placehold.it/24x24&text=[img]" /> Someone</div>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
          <div>
            <div><img src="http://placehold.it/24x24&text=[img]" /> Someone</div>
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
          </div>
          <div>
            <form action=""  method="POST">
              {% csrf_token %}
              <div>
                <input type="text" placeholder="댓글 내용" disabled="disabled" />
                <input type="submit" class="button small" value="댓글 쓰기" disabled="disabled" />
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
