{% extends "base.html" %}
{% block content %}
<div class="welcome">
  <h1>Fasticker</h1>
  <h5>당신의 마음을 붙여주세요.</h5>
</div>

<div class="row">
  <div class="two columns">
    <ul class="side-nav">
      <li><a href="{% url fasticker.core.views.recommendations %}">추천</a></li>
      <li><a href="{% url fasticker.core.views.items %}">아이템 찾기</a></li>
      <li class="divider"></li>
      <li>채팅</li>
      <li>친구 찾기</li>
    </ul>
  </div>

  <div class="ten columns">

    {% if items.exists %}
    <ul class="block-grid five-up mobile-two-up item-grid">
      {% for item in items %}
      <li class="item">
        <div class="th">
          <a href="{% url fasticker.core.views.item item.id %}"><img src="{{ item.image.url }}"></a>
        </div>
        <div>
          <a href="{% url fasticker.core.views.item item.id %}">{{ item.name }}</a>
        </div>
        <div>
          {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
          {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
          {% for context in item.context.all %}
          <span class="tag">{{ context }}</span>
          {% endfor %}
          {% for tag in item.get_tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        <h6>
          <a href="{% url fasticker.core.views.profile item.author.id %}">
            <img src="{{ item.author.photo.url }}" style="width:24px" /> {{ item.author.name }}
          </a>
        </h6>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div>아이템이 없습니다.</div>
  {% endif %}

</div>
{% endblock %}
