
{%if category.category_set.exists %}
    <ul>
     {%for child in category.category_set.all %}
        <li><a href="{% url fasticker.core.views.items %}?category_id={{child.id}}">{{ child.name }}</a></li>
          {%with category=child template_name="items_nav_list.html" %}
               {%include template_name%}
          {%endwith%}
     {%endfor%}
     </ul>
{%endif%}
