{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="twelve columns">
    <h4>{{ item.name }}</h4>
    <div class="row">
      <div class="eight columns">
        <img src="{{ item.image.url }}" />
      </div>
      <div class="four columns">
        <h4><img style="width: 24px" src="{{item.author.photo.url}}"> {{ item.author.name }}</h4>
        <p>{{ item.memo }}</p>
        <p>
          {% if item.link %}
            <a href="{{ item.link }}">구입처</a>
          {% else %}
            구입처 정보가 없습니다.
          {% endif %}
        </p>

        <h5>Tags</h5>
        <p>
          {% if user.is_staff %}
          {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
                {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
                {% for context in item.context.all %}
                <span class="tag">{{ context }}</span>
                {% endfor %}
          {% endif %}
          {% for tag in item.get_tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </p>

        <ul class="link-list">
          {% if item.author == user.profile %}
          <li><a href="{% url fasticker.core.views.item_form item.id %}">고치기</a></li>
          {% endif %}
        </ul>
        <h5>댓글 {{ item.itemcomment_set.count}} 개</h6>
        {% if item.itemcomment_set.exists %}
          {% for comment in item.itemcomment_set.all %}
          <div>
            <div><img style="width: 24px;" src="{{ comment.author.photo.url }}" /> {{ comment.author.name }}</div>
            <p>{{ comment.memo }}</p>
          </div>
          {% endfor %}
        {% else %}
        <div>댓글이 없습니다. 맨 처음으로 댓글을 달아주세요!</div>
        {% endif %}
        <div>
          <form action="{% url fasticker.core.views.item_comment_form item.id %}"  method="POST">
            {% csrf_token %}
            <input type="text" name="memo" placeholder="댓글 내용"
            {% if not logged_in %}
            disabled="disabled" class="has-tip" data-width="200" title="로그인 후에 이용가능 합니다"
            {% endif %}/>
            <input type="submit" class="button small" value="댓글 쓰기"
            {% if not logged_in %} disabled="disabled" {% endif %} />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
