{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="four columns centered panel">
    <h3>Make your Fashion</h3>
    <hr />
    <form action="" method="POST" enctype="multipart/form-data">
      <div style="display:none"><input type="hidden" name="next" value="{{ next }}" /></div>
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="alert-box alert">
        {% for non_field_error in form.non_field_errors %}
        {{ non_field_error }}
        {% endfor %}
        <a href="#" class="close">&times;</a>
      </div>
      {% endif %}
      {% for field in form.visible_fields %}
      <div class="{% if field.errors %}error{% endif %}">
        <label for="{{ field.auto_id }}">{{ field.label }}
          {% if field.field.required %}<span class="label radius">필수</span>{% endif %}</label>
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}<small>{{error}}</small>{% endfor %}
        {% endif %}
      </div>
      {% endfor %}
      <div>
        <input type="submit" class="button small" value="아이템 {% if item_id %}고치기{% else %}등록하기{% endif %}" />
        <img class="spinner" src="{{ STATIC_URL }}spinner.gif" style="height: 32px; display:none; "/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
