  {% extends "base.html" %}
  {% block content %}
  <div class="row">
    <div class="twelve columns">
      <h4>아이템 찾기</h4>
      <div class="row">
        <div class="two columns">
          <ul class="side-nav">
            <li><a href="{% url fasticker.core.views.items %}">전부 보기</a></li>
            <li class="divider"></li>
            <li class="header">분류</li>
            {% for category in categories %}
            <li><a href="{% url fasticker.core.views.items %}?category_id={{category.id}}">{{ category.name }}</a>
              {%include "items_nav_list.html" %}
            </li>
            {% endfor %}
            <li class="divider"></li>
            <li class="header">상황</li>
            {% for context in contexts %}
            <li><a href="{% url fasticker.core.views.items %}?context_id={{context.id}}">{{ context.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li class="header">색상</li>
            {% for color in colors %}
            <li><a href="{% url fasticker.core.views.items %}?color_id={{color.id}}">{{ color.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="ten columns main-column">
          {% if items.exists %}
          <ul class="block-grid five-up mobile-two-up item-grid">
            {% for item in items %}
            <li class="item">
              <div class="th">
                <a href="{% url fasticker.core.views.item item.id %}"><img src="{{ item.image.url }}"></a>
              </div>
              <div>
                <a href="{% url fasticker.core.views.item item.id %}">{{ item.name }}</a>
              </div>
              <div>
                {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
                {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
                {% for context in item.context.all %}
                <span class="tag">{{ context }}</span>
                {% endfor %}
                {% for tag in item.get_tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
                <h6>
                  <a href="{% url fasticker.core.views.profile item.author.id %}">
                    <img src="{{ item.author.photo.url }}" style="width:24px" /> {{ item.author.name }}
                  </a>
                </h6>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div>아이템이 없습니다.</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
