{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="twelve columns">
    <!-- profile header -->
    <div class="row">
      <div class="eight columns panel centered">
        <div class="row">
          <div class="four columns th">
            <img
            {% if profile.photo %}
            src="{{ profile.photo.url}}"
            {% else %}
            src="http://placehold.it/200x200&text=Image"
            {% endif %}
            />
          </div>
          <div class="five columns">
            <h2>{{ profile.name }}</h2>
            <p>{{ profile.memo }}</p>
          </div>
          <div class="three columns">
            <!-- preferences -->
            {% if user.is_staff %}
            <h5>Preferences</h5>
            <ul class="block-grid one-up mobile-one-up">
              {% for item in preferences %}
              <li>
                {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
                {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
                {% if item.context %}<span class="tag">{{ item.context }}</span>{% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            <!-- end preferences -->
          </div>
        </div>
      </div>
    </div>
    <!-- end profile header -->

    <div class="row">
      <div class="eight columns centered">
        <dl class="tabs">
          <dd class="active"><a href="#simple1">옷장</a></dd>
          <dd><a href="#simple2">보드</a></dd>
          {% if user.is_staff %}<dd><a href="#simple3">추천 아이템</a></dd>{% endif %}
        </dl>
        <ul class="tabs-content">
          <li class="active" id="simple1Tab">
            <p>옷장이 없습니다.</p>
          </li>
          <li id="simple2Tab">
            {% if boards %}
            <ul class="block-grid four-up mobile-two-up">
              {% for board in boards %}
              <li class="panel">              
                <a href="{% url fasticker.core.views.board board.id %}"><h5>{{ board.name }}</h5>
                  {% for item in board.items.all|slice:"4" %}
                  <img src="{{ item.image.url }}" style="width: 64px">
                  {% endfor %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p>보드가 없습니다.</p>
            {% endif %}
          </li>
          {% if user.is_staff %}
          <li id="simple3Tab">
            {% if recommendations %}
            <ul class="block-grid six-up mobile-two-up">
              {% for item in recommendations %}
              <li class="item">
                <div class="th">
                  <a href="{% url fasticker.core.views.item item.id %}">
                    <img src="{{ item.image.url }}">
                  </a>
                  <h6><a href="{% url fasticker.core.views.item item.id %}">{{ item.name }}</a></h6>
                  {% if user.is_staff %}
                  {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
                  {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
                  {% for context in item.context.all %}
                  <span class="tag">{{ context }}</span>
                  {% endfor %}
                  {% endif %}
                </div>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <div>세트가 없습니다.</div>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </dl>
    </div>
  </div>
</div>
</div>
{% endblock %}
