{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="twelve columns">
    {% if user.is_staff %}

    <h4>Preferences</h4>
    <ul class="block-grid six-up mobile-two-up">
      {% for item in preferences %}
      <li>
        <div class="panel">
          {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
          {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
          {% if item.context %}<span class="tag">{{ item.context }}</span>{% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}


    <h4>Recommendations</h4>
    {% if recommendations %}
    <ul class="block-grid six-up mobile-two-up">
      {% for item in recommendations %}
      <li>
        <a href="{% url fasticker.core.views.item item.id %}">
          <div class="panel th">
            <img src="{{ item.image.url }}">
            <h5>{{ item.name }}</h5>
            {% if user.is_staff %}
              {% if item.category %}<span class="tag">{{ item.category }}</span>{% endif %}
              {% if item.color %}<span class="tag">{{ item.color }}</span>{% endif %}
              {% for context in item.context.all %}
                <span class="tag">{{ context }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div>세트가 없습니다.</div>
    {% endif %}

  </div>
</div>
{% endblock %}
