@import 'foundation';

html {
    font-family: "Segoe UI", "Helvetica Neue", "AppleGothic", "Malgun Gothic", "Trebuchet MS", "Dotum", sans-serif
    ;
    line-height: 161%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: normal;
}

body {
    background: #ECECE0;
}

.notification-bar {
    @extend .alert-box;
    @extend .secondary;
    text-align: center;
    padding: 10px 0 !important;
}

body > .row {
    background: #FDFDF5;
}

.item a {
    color: #222222;
}

.main-column {
    border-left: 1px solid #e6e6e6;
}

.block-grid {
    padding-top: 1px;
}

.top-bar {
    margin-bottom: 0 !important;

    .has-tip {
        border-bottom: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .tooltip {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .tooltip {
        min-width: 50%;
    }
}

.chzn-container, input[type="file"] {
    margin: 0 0 12px 0;
}

.chzn-container, .chzn-drop {
    width: 100% !important;
}

nav .has-dropdown {
    img {
        width: 24px;
    }
}

.side-nav {
    li.header {
        font-size: 14px * 0.8;
        color: #999;
    }
    li > ul {
        margin-top: 7px;
    }
}

ul.items li {
    text-align: center;
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
    img {
        margin: 0 auto;
    }
}

.tag {
    @extend .label;
}

.welcome {
    @extend .panel;
    background: url(dress-up-room-decoration.jpg) no-repeat center 0; background-attachment: fixed;
    background-size: cover;

    h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        margin: 0;
        line-height: 150%;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    }
    border: 0 !important;
    height: 15em;
    text-align: center;
    padding: 45px 0;
}

.notification-bar {
    margin-bottom: 0 !important;
}

.alert-box.alert .close {
    color: #ffffff;
    opacity: 0.5;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
