{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="eight columns centered panel">
    <h3>가입되었습니다!</h3>
    <hr />
    <p>
    	Fasticker에서 행복한 시간 보내시길 바랍니다.
    </p>
    <a class="button" href="/">메인화면 가기</a>
    <a class="button" href="{% url django.contrib.auth.views.login "}>로그인하기</a>
  </div>
</div>
{% endblock %}

