{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="four columns centered panel">
    <h3>회원가입</h3>
    <hr />
    <form action="" method="POST">
      <div style="display:none"><input type="hidden" name="next" value="{{ next }}" /></div>
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="alert-box alert">
        {% for non_field_error in form.non_field_errors %}
        {{ non_field_error }}
        {% endfor %}
        <a href="#" class="close">&times;</a>
      </div>
      {% endif %}
      {% for field in form.visible_fields %}
      <div{% if field.errors %} class="error"{% endif %}>
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}<small>{{error}}</small>{% endfor %}
        {% endif %}
      </div>
      {% endfor %}
      <div>
        <input type="submit" class="button" value="가입하기" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
